In [26]:
import numpy as np
import pandas as pd
import seaborn as sns

In [27]:
df = pd.read_csv("loan.csv")
df.head(3)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y

In [28]:
print((df.isna().sum()/df.shape[0])*100)

Loan_ID              0.000000
Gender               2.117264
Married              0.488599
Dependents           2.442997
Education            0.000000
Self_Employed        5.211726
ApplicantIncome      0.000000
CoapplicantIncome    0.000000
LoanAmount           3.583062
Loan_Amount_Term     2.280130
Credit_History       8.143322
Property_Area        0.000000
Loan_Status          0.000000
dtype: float64

In [29]:
# df.dropna(axis = 1) # delete all the columns having the null values

In [30]:
# sns.heatmap(df.isnull())

In [31]:
df["Gender"] = df["Gender"].mode()[0]

In [32]:
# sns.heatmap(df.isnull())

In [33]:
df.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [34]:
df["Gender"].fillna(df["Gender"].mode()[0],inplace = True)

In [35]:
# df.select_dtypes(include = ["object"]).columns
for i in (df.select_dtypes(include = ["object"]).columns):
    df[i].fillna(df[i].mode()[0],inplace = True)

In [36]:
# df.select_dtypes(include = ["object"]).columns
for i in (df.select_dtypes(include = ["float64"]).columns):
    df[i].fillna(df[i].mean(),inplace = True)

In [37]:
df.select_dtypes(include = "float64").columns

Index(['CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term',
       'Credit_History'],
      dtype='object')

In [38]:
from sklearn.impute import SimpleImputer
si = SimpleImputer(strategy = "mean")
ar = si.fit_transform(df[['CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term',
       'Credit_History']])

In [39]:
new_Df = pd.DataFrame(ar,columns = ['CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term',
       'Credit_History'])

In [40]:
new_Df.isna().sum()

CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
dtype: int64

In [41]:
df.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64